*{
  box-sizing: border-box;
}
body{
  margin:0;
  background-image:url(../media/bg-gr-v.jpg);
}
.row{
  display:table;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
  height:100%;
  
}
.cell{
  width:8%;
  display:table-cell;
  height:75px;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
}
.c5142{
  padding:20px;
  letter-spacing:0px;
  text-align:center;
  float:none;
  position:static;
  color:#d7c5c5;
  font-size:50px;
}
@media (max-width: 768px){
  .cell{
    width:100%;
    display:block;
  }
}